[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/latex-suite"]
	path = bundle/latex-suite
	url = http://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX.git
[submodule "bundle/drawit"]
	path = bundle/drawit
	url = git://github.com/vim-scripts/DrawIt.git
[submodule "bundle/quicktask"]
	path = bundle/quicktask
	url = git@github.com:aaronbieber/quicktask.git
[submodule "bundle/buffet"]
	path = bundle/buffet
	url = git@github.com:aaronbieber/vim-buffet
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/inkpot"]
	path = bundle/inkpot
	url = git://github.com/ciaranm/inkpot.git
