[submodule "bundle/quicktask"]
	path = bundle/quicktask
	url = git@github.com:aaronbieber/quicktask.git
[submodule "bundle/commit-tracker"]
	path = bundle/commit-tracker
	url = git@github.com:aaronbieber/commit-tracker.git
